@media screen and (min-width: 2200px) {
    html {font-size: 24px;}
}

@media screen and (max-width: 1700px) {
    .slider-text-container {top: 15%;}
    .slider-dot-container {top: 12%;}
}

@media screen and (max-width: 1400px) {
    html {font-size: 16px;}
    .slider-dot-container, 
    .slider-button-wrapper,
    .slider-text-container  {
        left: 0;
        right: 0;
        width: 90%;
        margin: auto;
        min-width: 0;
    }
    .slider-progress-bar-grey {
        width: 70%;
    }
    .slider-button-wrapper {margin-top: 20px;}
}

@media screen and (max-width: 700px) {
    html {
        width: 100%;
        font-size: 9px;
    }
    .nav-menu {
        font-size: 18px !important;
    }
    .slider-text-container {
        top: 13%;
    }
    .slider-dot-container {
        top: 8%;
    }
    .slider-dot {
        height: 9px;
        width: 9px;
    }
    .slider-button-wrapper {
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 40px;
        justify-content: center;
    }
    .slider-description,
    .slider-main-header,
    .slider-second-header {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .slider-description {
        height: 115px; 
        margin-top: 20px !important;
    }
    .slider-main-header {
        max-height: 70px;
    }
    .slider-second-header {
        max-height: 45px; 
        margin-left: 20px !important;
    }
    .slider-foot {display: none;}
}
